$main-text: #ffffff;
$secondary-text: #989bab;
$primary-text: #30ad00;

$background: #141414;
$background-content: #2d2c2c;
$background-sidebar: #373636;

$background-button: #4f4e4e;
$background-button-active: #4d4b4b;
$background-button-primary: #30ad00;

$button-border-radius: 8px;

$color-white: #ffffff;
