:root {
    --text-color: #000000;
    --text-color-hover: #000000;
    --text-color-active: #000000;

    --background: #ffffff;

    --color-primary: #29ba29;
    --color-primary-hover: #29ba29;
    --color-secondary: #717176;
    --color-secondary-dark: #5b5b60;
    --color-error: #fb2021;
    --color-success: #30ad80;
    --color-gold: #FFA941;
    --color-dark: #3D4C6A;
}

[color-scheme="dark"] {
    --text-color: #ffffff;
    --text-color-hover: #ffffff;
    --text-color-active: #ffffff;

    --color-secondary: #f3f3f6;
    --color-secondary-dark: #E9E9F1;

    --background: #111;
}